@import url('../css/fonts.css');

:root {
  /*TYPOGRAPHY*/
  --ff-primary: 'Public Sans', sans-serif;
  --fs-18: 1.125rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /*COLORS*/
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /*EFFECTS*/
  --right-gradient: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  --dark-blue-faded: hsla(233, 26%, 24%, 80%);

  /* TRANSITIONS */
  --transition: transform 0.5s ease-in-out;

  /* SPACES */
  --spacing-small: 0.5rem;
  --spacing: 1.5rem;
  --spacing-medium: 2rem;
  --spacing-big: 3.5rem;
  --spacing-extra: 5.5rem;
}

/**************
*   GENERAL   *
***************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
  font-family: var(--ff-primary);
}
body {
  font-size: var(--fs-18);
}
main, header, footer{
  position: relative;
}
main[darken]::before,
footer[darken]::before {
  z-index: 1;
  position: absolute;
  content: '';
  inset: 0;

  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--dark-blue-faded),  var(--dark-blue-faded));
}
.wrapper {
  max-width: 75rem;
  margin-inline: auto;
}

@media screen and (max-width: 77rem) {
  .wrapper {
    padding-inline: var(--spacing);
  }
}

/*************
*   HEADER   *
**************/

.nav-header {
  background-color: var(--very-light-gray);
  position: relative;
  z-index: 2;
}
.header-navbar {
  --repeat-columns: 3;

  display: grid;
  grid-template-columns: repeat(var(--repeat-columns), 1fr);
  align-items: center;
  gap: var(--spacing);
}
.navBar {
  justify-self: center;
  background-color: var(--very-light-gray);
}
.navBar ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: var(--spacing-medium);

  color: var(--grayish-blue);
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.navBar a {
  position: relative;
  display: block;
  padding-block: var(--spacing);
}
.navBar a::after {
  --transition: width ease-in-out 0.25s;

  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0;
  height: 0.30rem;
  background: var(--right-gradient);

  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.navBar a:hover::after {
  width: 100%;
}
.header-navbar button {
  justify-self: flex-end;
}
button {
  width: 20ch;
  padding: 0.75em 2em;
  background: var(--right-gradient);

  border: none;
  border-radius: 3em;
  cursor: pointer;

  color: var(--light-grayish-blue);
  font-size: 1rem;
  font-weight: var(--fw-bold);
}
button:hover {
  filter: opacity(0.8) brightness(1.5);
}
.hamburger-menu {
  --hamburger-height: 1.5rem;
  --hamburger-width: 1.75rem;
  --loaf-height: 0.25rem;
  --deg: 45deg;
  
  position: relative;
  display: none;
  justify-self: flex-end;
  height: var(--hamburger-height);
  width: var(--hamburger-width);
}
.loaf {
  --origin: left;

  position: absolute;
  height: var(--loaf-height);
  width: 100%;

  background-color: var(--dark-blue);
  border-radius: var(--loaf-height);

  -o-transform-origin: var(--origin);
  -moz-transform-origin: var(--origin);
  -webkit-transform-origin: var(--origin);
  transform-origin: var(--origin);

  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.top {
  top: 0;
}
.middle {
  bottom: calc(calc(var(--hamburger-height) / 2) - calc(var(--loaf-height) / 2) );
}
.bottom {
  bottom: 0;
}
.hamburger-menu[active] > .top{
  transform: rotateZ(var(--deg));
}
.hamburger-menu[active] > .middle{
  transform: scale(0, 1);
}
.hamburger-menu[active] > .bottom{
  transform: rotateZ(calc(var(--deg) - calc(var(--deg) * 2)));
}

@media screen and (max-width: 55rem) {
  .header-navbar {
    --repeat-columns: 2;
    padding: var(--spacing);
  }
  .header-navbar > button{
    display: none;
  }
  .navBar {
    --origin: top;

    position: absolute;
    top: calc(100% + 1rem);

    width: calc(100% - calc(2*1rem));
    max-width: 30ch;

    border-radius: var(--spacing);
    overflow: hidden;

    transform: scaleY(0);

    -o-transform-origin: var(--origin);
    -moz-transform-origin: var(--origin);
    -webkit-transform-origin: var(--origin);
    transform-origin: var(--origin);

    -o-transition: var(--transition);
    -moz-transition: var(--transition);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .navBar[mobile] {
    transform: scaley(1);
  }
  .navBar ul {
    display: grid;
    grid-template-columns: auto;
    gap: var(--spacing);
  
    color: var(--grayish-blue);
    font-size: var(--fs-18);
    font-weight: var(--fw-regular);
  }
  .navBar a {
    padding-block: var(--spacing-small);
  }
  .hamburger-menu {
    display: block;
  }
}

/************
*   HERO    *
*************/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  min-height: 80vh;
  background: linear-gradient(to bottom, var(--light-grayish-blue), var(--very-light-gray));
  overflow-x: clip;
}
.hero .wrapper {
  display: grid;
  justify-items: center;
}
.hero header {
  display: grid;
  align-content: center;
  gap: 2rem;
  max-width: 41ch;
}
.hero-headline {
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: var(--fw-light);
}
.hero-copy {
  color: var(--grayish-blue);
}


/*HERO image here*/
/* .image-bg-mobile, .image-bg-desktop, .image-mockups {
  display: none;
} */

.copy-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.copy-image > * {
  position: absolute;
}
.image-bg-mobile {
  display: none;
}
.image-bg-desktop {
  top: -40%;
  left: -10%;
  width: 145%;
}
.image-mockups {
  top: -30%;
  width: 100%;
  left: 10%;
}

/*HERO image here*/


@media screen and (max-width: 55rem) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hero .wrapper {
    order: 2;
    text-align: center;
  }
  .hero header {
    justify-items: center;
  }

  .image-bg-desktop {
    top: -50%;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 150%;
    width: auto;
  }
  .image-mockups {
    top: -50%;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 150%;
    width: auto;
}
}
@media screen and (max-width: 27rem) {
  .hero-headline {
    font-size: 2.5rem;
  }
  .image-bg-mobile {
    display: block;
    width: 100%;
    height: 100%;
  }
  .image-bg-desktop {
    display: none;
  }
}
@media screen and (max-width: 24rem) {
  .hero-headline {
    font-size: 2rem;
  }
}

/****************
*   FEATURES    *
*****************/

.features {
  padding-block: var(--spacing-extra);
  background-color: var(--light-grayish-blue);
  min-height: 100vh;
}
.features .wrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: var(--spacing-big);
}
.features header {
  display: grid;
  gap: var(--spacing);
}
.features-headline {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: var(--fw-light);
}
.features-copy {
  display: block;
  max-width: 60ch;
  color: var(--grayish-blue);
}
.features-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: var(--spacing);
}
.feature-card, 
.feature-card header {
  display: grid;
  gap: var(--spacing);
}
.feature-headline {
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: var(--fw-light);
}
.feature-copy {
  display: block;
  max-width: 25ch;
  color: var(--grayish-blue);
}

@media screen and (max-width: 70rem) {
  .features-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 40rem) {
  .features-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .features header,
  .feature-card, 
  .feature-card header {
    justify-items: center;
    text-align: center;
  }
}

/****************
*   ARTICLES    *
*****************/

.articles {
  background-color: var(--white);
  padding-block: var(--spacing-extra);
  min-height: 100vh;
}
.articles .wrapper {
  display: grid;
  gap: var(--spacing-medium);
  place-items: center;
}
.articles-headline {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: var(--fw-light);
}
.articles-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing);
}
.article-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing);
  width: 100%;
  max-width: 30ch;
}
.article-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: var(--spacing-small);
  border-top-right-radius: var(--spacing-small);
}
.article-card header {
  display: grid;
  gap: var(--spacing-small);
  padding: var(--spacing);
}
.article-author {
  color: var(--grayish-blue);
  font-size: 0.6rem;
}
.article-headline {
  color: var(--dark-blue);
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  cursor: pointer;
}
.article-headline:hover {
  color: var(--lime-green);
}
.article-copy {
  color: var(--grayish-blue);
  font-size: 1rem;
}

@media screen and (max-width: 70rem) {
  .articles-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 40rem) {
  .articles-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

/*************
*   FOOTER   *
**************/

footer {
  background-color: var(--dark-blue);
}
footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  
  gap: var(--spacing);
  padding-block: var(--spacing-big);

  grid-template-areas: 
  "logo         page-links  button"
  "...          page-links  ..."
  "social-links page-links  legal"
  ;
}
footer .logo {
  grid-area: logo;
}
footer .social-links {
  grid-area: social-links;
  display: flex;
  gap: var(--spacing);
  color: var(--white);
}
footer ul li a:hover {
  color: var(--lime-green);
}
.icon {
  fill: var(--white);
}
footer ul li a:hover .icon {
  fill: var(--lime-green);
}
footer .page-links {
  grid-area: page-links;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: var(--spacing-small);
  color: var(--white);
}
footer button {
  grid-area: button;
  justify-self: end;
}
footer .legal {
  grid-area: legal;
  color: var(--grayish-blue);
  justify-self: end;
  text-align: end;
}

@media screen and (max-width: 58rem) {
  footer .page-links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}

@media screen and (max-width: 40rem) {
  footer .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    place-items: center;

    gap: var(--spacing);
    padding-block: var(--spacing-big);
    padding-inline: var(--spacing);
    
    grid-template-areas: 
    "logo"
    "social-links"
    "page-links"
    "button"
    "legal"
    ;
  }
  footer .page-links {
    gap: var(--spacing);
    text-align: center;
  }
  footer button {
    justify-self: center;
  }
  footer .legal {
    justify-self: center;
    text-align: center;
  }
}